doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title Thanh toán học phí
nav.navbar.fixed-top.navbar-light.bg-light
  a.navbar-brand(href='#')
    img.d-inline-block.align-top(src='https://stdportal.tdtu.edu.vn/Content/images/image.png' width='80' height='30' alt='')
    |             H&#x1EC7; Th&#x1ED1;ng Thanh To&aacute;n H&#x1ECD;c Ph&iacute;
  .form-inline.my-2.my-lg-0
    span.mr-sm-2=user[3]
    a(href='/logout')
      button.btn.btn-outline-success.my-2.my-sm-0() Log Out
.container(style='margin-top: 5%;')
  form#formFee(action='/otp' method='POST')
    div
      strong Ng&#x1B0;&#x1EDD;i n&#x1ED9;p ti&#x1EC1;n
    .form-group.row
      label.col-sm-2.col-form-label(for='staticName') Name
      .col-sm-10
        input#staticName.form-control-plaintext(type='text' readonly='' value=user[3])
    .form-group.row
      label.col-sm-2.col-form-label(for='staticEmail') Email
      .col-sm-10
        input#staticEmail.form-control-plaintext(type='text' readonly='' value=user[5])
    .form-group.row
      label.col-sm-2.col-form-label(for='staticPhone') Phone
      .col-sm-10
        input#staticPhone.form-control-plaintext(type='text' readonly='' value=user[4])
    div
      strong Th&ocirc;ng tin h&#x1ECD;c ph&iacute;
    .form-group.row
      label.col-sm-2.col-form-label(for='mssv') MSSV
      .col-sm-10
        input#staticMssv.form-control-plaintext(type='text' readonly='' placeholder=userfee[0])
    .form-group.row
      label.col-sm-2.col-form-label(for='name-2') Name
      .col-sm-10
        input#name-2.form-control-plaintext(type='text' readonly='' placeholder=userfee[1])
    .form-group.row
      label.col-sm-2.col-form-label(for='fee') H&#x1ECD;c ph&iacute;
      .col-sm-10
        input#fee.form-control-plaintext(type='text' readonly='' value=userfee[2])
    div
      strong Th&ocirc;ng tin thanh to&aacute;n
    .form-group.row
      label.col-sm-2.col-form-label(for='SDKD') S&#x1ED1; d&#x1B0; t&agrave;i kho&#x1EA3;n
      .col-sm-10
        input#SDKD.form-control-plaintext(type='text' readonly='' value=user[6])
    .form-group.row
      label.col-sm-2.col-form-label(for='fee') H&#x1ECD;c ph&iacute; c&#x1EA7;n thanh to&aacute;n
      .col-sm-10
        input#fee.form-control-plaintext(type='text' readonly='' value=userfee[2])
    button.btn.btn-primary.float-right(type='submit') Submit
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
