doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title Thanh toán học phí TDT
nav.navbar.fixed-top.navbar-light.bg-light
  a.navbar-brand(href='#')
    img.d-inline-block.align-top(src='https://stdportal.tdtu.edu.vn/Content/images/image.png' width='80' height='30' alt='')
    |             H&#x1EC7; Th&#x1ED1;ng Thanh To&aacute;n H&#x1ECD;c Ph&iacute;
  .form-inline.my-2.my-lg-0
    span.mr-sm-2=user[3]
    a(href='/logout')
      button.btn.btn-outline-success.my-2.my-sm-0() Log Out
.container(style='margin-top: 10%;')
  if message
    if warn
      .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        strong=message
        button.close(type='button' data-dismiss='alert' aria-label='Close')
          span(aria-hidden='true') &times;
    else
      .alert.alert-success.alert-dismissible.fade.show(role='alert')
        strong=message
        button.close(type='button' data-dismiss='alert' aria-label='Close')
          span(aria-hidden='true') &times;
  ul.list-group
    li.list-group-item
      | MSSV: 
      strong=userfee[0]
    li.list-group-item
      | H&#x1ECD; v&agrave; t&ecirc;n: 
      strong=userfee[1]
    li.list-group-item
      | S&#x1ED1; ti&#x1EC1;n thanh to&aacute;n: 
      strong=userfee[2]
    li.list-group-item
      | S&#x1ED1; d&#x1B0; kh&#x1EA3; d&#x1EE5;ng: 
      strong=user[6]
    li.list-group-item
      | Tin nh&#x1EAF;n: &Dstrok;&oacute;ng h&#x1ECD;c ph&iacute; cho sinh v&ecirc;n c&oacute; m&atilde; s&#x1ED1; sinh vi&ecirc;n l&agrave;: 
      strong=userfee[0]
  form(action='/transaction' method='POST')
    label.mt-5(for='inputPassword5') OTP
    input#inputPassword5.form-control(type='text' aria-describedby='passwordHelpBlock' name='otp')
    small#passwordHelpBlock.form-text.text-muted
      | M&atilde; OTP c&oacute; hi&#x1EC7;u l&#x1EF1;c trong v&ograve;ng 5 ph&uacute;t. 
      a(href='/sendagainotp') G&#x1EED;i l&#x1EA1;i m&atilde;
    button.btn.btn-primary.float-right(type='submit') Submit
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
